html, body {
	height: 100%;
	margin: 0px;
	font-family: Raleway;
}

body {
	background-image: url("../images/homebg.png");
}

.container {
	position: relative;
	margin: auto;
	width: 50%;
	height: 60%;
	padding: 20px;
	background-color: #36393f;
	border-radius: 10px;
	filter: drop-shadow(0 0 10px #000);
	color: white;
}

form {
	margin: 50px;
}

h1 {
	text-align: center;
}

.fail p{
    background-color: #F93D5C;
    color: white;
}

input[type=text], input[type=password], textarea {
	width: 100%;
	font-size: 16px;
	padding: 8px 0 10px 0;
	margin-bottom: 20px;
	box-sizing: border-box;
	background-color: #303339;
	color: white;
	border: 1px solid black;
	border-radius: 3px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline: none;
	border: 1px solid #FED136;
}

button {
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	background-color: #FED136;
	color: white;
	border: 0px;
	border-radius: 3px;
	outline: none;
}

button {
    background-color: #FED136;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

button:hover {
    opacity: 0.8;	
}

a {
	color: #F1F1F1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


